<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <form id="cities_form" action="/cities">
            <h2>Filter cities</h2>
            <div>City name</div>
            <input type="text" id="cities" name="name" form="cities_form">
            <div>Latitude</div>
            <input type="text" id="cities" name="latitude" form="cities_form">
            <div>Longitude</div>
            <input type="text" id="cities" name="longtitude" form="cities_form">
            <br>
            <button type="submit" class="glow-on-hover">Submit</button>
        </form>
        <hr>
        <div class="weather-city">
            <h2>Cities:</h2>
            {cities}
        </div>
        <hr><br>
        <nav class="navigation">
            <button onclick="location.href='/weather'" class="glow-on-hover">Weather</button>
            <button onclick="location.href='/'" class="glow-on-hover">Back to main</button>
        </nav>
    </div>
</body>
</html>
