<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <h3>You should not be here!</h3>
        <hr>
        <h4>
            You are here because some
            unexpected error took place.
            You can get back to the main page now.
        </h4>
        <hr><br>
        <nav class="navigation">
            <button onclick="location.href='/'" class="glow-on-hover">Back to main</button>
        </nav>
    </div>
</body>
</html>
