<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="wdidth=device-width, initial-scale=1.0">
    <title>Sweater weather</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <hr>
        <h3>One can get some weather info on this website.</h3>
        <hr><br>
        <nav class="navigation">
            <button onclick="location.href='/weather'" class="glow-on-hover">Weather</button>
            <button onclick="location.href='/cities'" class="glow-on-hover">Cities</button>
        </nav>
    </div>
</body>
</html>
